.card{
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    
    align-content: center;
}
.card-img{
    margin: 0;
    text-align: center;
}
.card-info{
    margin: 15px;
}
.card-img_precio{
    font-weight: bold;
}