<!--Es un archivo importante que viene con un monton de ejemplo que hay que borrar 
  -
cuidado con como uso la ruta de la imagen porque cuando compila cambia las carpetas
siempre arrqanco en assets-->
<app-nav></app-nav>
<router-outlet></router-outlet>
<div>Acá va el footer</div>
<!--
<h1>Esto es app.component.html</h1>
<h2>Card component</h2>
<app-card 
    [img] = "img"
    [titulo]= "titulo"
    [descrip] = "descrip"
    [precio] = "precio"
></app-card>
<hr>
<img src="assets/img/sami.jpg" alt="Gatito">
-->



